
html {
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body {
  font-family: calibri;
  color: #f7797d;
}

header {
  padding: 3px 1%;  /* plassering */
  width: auto;
  color: #f7797d;
}

p {
  padding: 3px 1%;
  width: auto;
  color: #f7797d;
  text-shadow: 0px 1px gray;
}


.button {
  border: 2px solid #f4494e; /* border */
  padding: 15px 21px; /* størrelse på knapp */
  border-radius: 50%; /* avrunding av knapp */
  background-color: #f7797d;  /* fargen inne i knappene */
  font-size: 25px; /* font størrelse: */
  font-weight: bold; /* font egenskaper: */
  color: #C6FFDD; /* font farge: */
}

.buttonRow {
  display: block;
  max-width: 400px;
  padding: 3px 1%; /* plassering */
  /* margin: 10px 50px; /* plassering */
}

.button:hover {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: #faa9ac;
  border: 2px solid #f7797d;
  color: white;

}

.game {
}

@media (max-width : 415px) {
  header {
    text-shadow: 2px 0px #C6FFDD;
  }
}

/* knapp på index for å gå til spillsiden */
.playbutton {
  border: 2px solid #f4494e; /* border */
  padding: 14px 14px; /* størrelse på knapp */
  border-radius: 5%; /* avrunding av knapp */
  background-color: #f7797d;  /* fargen inne i knappene */
  font-size: 15px; /* font størrelse: */
  font-weight: bold; /* font egenskaper: */
  color: #C6FFDD; /* font farge: */
}


.playbutton:hover {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: #faa9ac;
  border: 2px solid #f7797d;
  color: white;

}


















/*  */
