
html {
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.overskrift {
  padding: 0px 2%;
  color: #f7797d;
  font-size: 40px;
  letter-spacing: 60px;
}
.under_overskrift {
  padding: 0px 2%;
  color: #f7797d;
  font-size: 14px;
  letter-spacing: 8px;
}

body {
  font-family: calibri;
}

header {
  padding: 3px 1%;  /* plassering */
  width: auto;
  color: #f7797d;
}

p {
  text-align: left;
  width: auto;
  color: #f7797d;
  text-shadow: 0px -1px white;
}

.regler {
  text-align: left;
  text-shadow: 0px 0px 1px #C6FFDD;
  font-weight: bold;
  color: #f7797d;

}


.scoreboard {
  text-align: center;
  padding: 3px 3%;
}

.button {
  border: 2px solid #f4494e; /* border */
  padding: 15px 21px; /* størrelse på knapp */
  border-radius: 5%; /* avrunding av knapp */
  background-color: #f7797d;  /* fargen inne i knappene */
  font-size: 25px; /* font størrelse: */
  font-weight: bold; /* font egenskaper: */
  color: white; /* font farge: */
  text-shadow: 0px -1px black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;

}

.buttonRowP1 {
  display: block;
  max-width: 400px;
  padding: 3px 3%; /* plassering */
  /* margin: 10px 50px; /* plassering */
}

.buttonRowP2 {
  display: block;
  max-width: 400px;
  padding: 3px 3%; /* plassering */
  /* margin: 10px 50px; /* plassering */
}

.score {
  font-size: 50px;
}
.button:hover {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: #faa9ac;
  border: 2px solid #f7797d;
  color: white;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-5px);

}



.game {
}

@media (max-width : 415px) {
  header {
    text-shadow: 2px 0px #C6FFDD;
  }
}

/* knapp på index for å gå til spillsiden */
.playbutton {
  border: 2px solid #f4494e; /* border */
  padding: 14px 14px; /* størrelse på knapp */
  border-radius: 5%; /* avrunding av knapp */
  background-color: #f7797d;  /* fargen inne i knappene */
  font-size: 15px; /* font størrelse: */
  font-weight: bold; /* font egenskaper: */
  color: #C6FFDD; /* font farge: */
}


.playbutton:hover {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: #faa9ac;
  border: 2px solid #f7797d;
  color: white;

}


















/*  */
