
body {
  background-color: white;
}

header {
  font: ;
  background-color: #3392FF;
  color: white;
  border: orange;
}


.button {
  padding: 32px;
  border-radius: 50%;
  background-color: #3392FF;
}

.buttonRow {
  display: block;
}

.button:hover {
background-color: #A033FF;
color: white;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
}
